.footer {
	background-color: var(--pink);
	width: 100%;
	padding: 90px 0;

	&__wrapper {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0 110px;
		display: flex;
		justify-content: space-between;
	}
	* {
		color: #fff;
	}

	&__block {
		font-family: var(--fira);
		&-title {
			font-size: 28rem;
			font-weight: 600;
		}

		&-list {
			margin-top: 20px;

			.footer-list-item {
				font-size: 16rem;
				font-weight: 300;
				text-decoration: underline;
				margin-top: 10px;

				&:hover {
					color: #e0e0e0;
				}
			}
		}
	}
}

@media screen and (max-width: 1439px) {
    .footer {
        padding: 90px 30px;

    }
    .docs {display: none;}
}

@media screen and (max-width: 1080px) {
    .footer {
        padding: 60px 30px;
    }
    .footer__wrapper {
        padding: 0;
        flex-direction: column;
        row-gap: 90px;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 40px 20px;
    }
    .footer__wrapper {
        padding: 0;
        flex-direction: column;
        row-gap: 40px;
    }
}
